@charset "UTF-8";

html {
    font-family: "Noto Sans CJK JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴシック", sans-serif;
    font-size: 0.9em;
}

/*global navigation*/
ul.navi-top,
ul.navi-top a {
    color: white;
    background-color: #359;
}

/*
ul.navi-top .home {
    color: white;
    background-color: #422C24;
}
*/

ul.navi-top a:hover {
    color: white;
    background-color: #A7C2E2;
}

ul.navi-top {
    /*    position: fixed;*/
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
}

ul.navi-top li {
    width: 240px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.navi-top a {
    line-height: 60px;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    display: block;
}

.title {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
}

.article {
    background: linear-gradient(90deg, #498DE5 0%, #498DE5 18%, #F9F9F9 18%, #F9F9F9 100%);
    display: flex;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #999;
}

.image {
    padding: 20px 40px 0px 10px;
    width: 60px;
    height: 60px;
}

.text-content {
    padding-left: 20px;
}

.add-button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.event-form,
.login-form {
    padding-left: 100px;
}

.form-title {
    font-size: 20px;
    font-weight: 400;
    background-color: #498DE5;
    color: #FFF;
    width: 200px;
    padding-left: 10px;
    padding: 2px 0px 2px 20px;
    border-radius: 3px;
}

.submit-button {
    margin-top: 30px;
}

.event-button {
    background-color: #359;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

.filter-button {
    background-color: #359;
    color: #FFF;
    font-size: 1.1em;
    padding: 5px 20px;
    border-radius: 5px;
}

.filter {
    margin-left: 80px;
    margin-top: 40px;
    
}