@charset "UTF-8";

html {
    font-family: "Noto Sans CJK JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "ヒラギノ角ゴシック", sans-serif;
    font-size: 0.9em;
}

/*global navigation*/
ul.navi-top,ul.navi-top a {
    color: white;
    background-color: #359;
}

ul.navi-top a:hover {
    color: white;
    background-color: #A7C2E2;
}

ul.navi-top {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
}

ul.navi-top li {
    width: 240px;
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.navi-top a {
    line-height: 60px;
    text-align: center;
    padding-left: 10px;
    text-decoration: none;
    display: block;
}

/*page title*/
.page-title {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
}

/*cube card*/
.card {
    background: linear-gradient(90deg, #498DE5 0%, #498DE5 18%, #F9F9F9 18%, #F9F9F9 100%);
    display: flex;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 5px #999;
}

.card-image {
    padding: 20px 40px 0px 10px;
    width: 60px;
    height: 60px;
}

.card-content {
    padding-left: 20px;
}

/*add event button*/
.add-event-section {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.add-event-button {
    background-color: #359;
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
}

/*cube filter*/
.filter {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.filter-form{
    padding: 2px 0px 2px 0;
}

.filter-button {
    background-color: #359;
    color: #FFF;
    font-size: 1.1em;
    padding: 5px 20px;
    border-radius: 5px;
}

/*create cube form*/
.form-title {
    font-size: 20px;
    font-weight: 400;
    background-color: #359;
    color: #FFF;
    padding: 2px 0px 2px 20px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
}

.cubeform-contents{
    background-color: #EAEFF7;
    padding: 20px 0px 40px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.left{
    margin-left: 20px;
}

.event-submit-section{
    background-color: #EAEFF7;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.event-submit-button{
}

/*log-in form*/
.login-contents{
    background-color: #EAEFF7;
    padding: 20px 0px 20px 5px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.login-submit-section{
    background-color: #EAEFF7;
    padding: 0px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.login-submit-button{  
}


.display-if-disconnected {
    display: none;
}

.display-if-connecting {
    display: none;
}

.display-if-connected {
    display: none;
}

.cube-disconnected .display-if-disconnected {
    display: block;
}

.cube-connecting .display-if-connecting {
    display: block;
}

.cube-connected .display-if-connected {
    display: block;
}